.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
  content: '';
}
.fc-prev-button span {
  width: 15px;
  height: 27.5px;
  background: url("../images/left.png") no-repeat center / 27.5px;
}
.fc-next-button span {
  width: 15px;
  height: 27.5px;
  background: url("../images/right.png") no-repeat center / 27.5px;
}
button {
  outline: none;
}
