.changePassword {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.changePassword .title {
  border-bottom: 1px solid #e3e3e3;
  color: #4c4245;
  font-size: 14px;
  line-height: 32px;
}
.changePassword .cps-main {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.changePassword .cps-main .form .item {
  height: 70px;
  padding: 22px 0;
  width: 400px;
  display: flex;
  border-bottom: 1px solid #efefef;
  justify-content: space-between;
  position: relative;
}
.changePassword .cps-main .form .item i {
  position: absolute;
  left: 7px;
  line-height: 26px;
  top: 22px;
  font-size: 20px;
}
.changePassword .cps-main .form .item button {
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
  width: 90px;
  height: 30px;
}
.changePassword .cps-main .form .item button.ivu-btn-warning[disabled] {
  color: #fff;
  background-color: #dbd6d6;
  border-color: #dbd6d6;
  cursor: not-allowed;
}
.changePassword .cps-main .form .item input {
  flex: 5;
  padding-left: 37px;
  outline: none;
  border: 0;
  color: #4c4245;
}
.changePassword .cps-main .form .item input.error {
  color: #e94f63;
}
.changePassword .cps-main .form .item input.icon1 {
  color: #e94f63;
}
.changePassword .cps-main .form .item input.icon1 + .icon {
  color: rgba(233, 79, 99, 0.5);
}
.changePassword .cps-main .form .item input.icon2 + .icon {
  color: #e94f63;
}
.changePassword .cps-main .form .item .error {
  color: rgba(218, 113, 148, 0.9);
  padding-right: 16px;
  background: url("../assets/student/error.png") no-repeat right center;
  line-height: 26px;
}
.changePassword .cps-main .form .item em {
  display: block;
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
  background: url("../assets/images/eyes1.png") no-repeat center center;
}
.changePassword .cps-main .form .item em:hover {
  background: url("../assets/images/eyes2.png") no-repeat center center;
}
.changePassword .cps-main .form .item em.eyes2 {
  background: url("../assets/images/eyes3.png") no-repeat center center;
}
.changePassword .cps-main .form .submit {
  width: 164px;
  height: 40px;
  font-size: 14px;
  display: block;
  margin: 40px auto;
}
.changePassword .cps-main .form .submit.ivu-btn-warning[disabled] {
  color: #fff;
  background-color: #dbd6d6;
  border-color: #dbd6d6;
  cursor: not-allowed;
}
.changePassword input::-webkit-input-placeholder {
  color: rgba(115, 103, 107, 0.5);
}
.changePassword input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(115, 103, 107, 0.5);
}
.changePassword input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(115, 103, 107, 0.5);
}
.changePassword input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(115, 103, 107, 0.5);
}
.changePassword .successMain .successContent {
  padding: 20px 0 20px 90px;
  background: url("../assets/student/changePswSuccess.png") no-repeat left center;
  line-height: 28px;
}
.changePassword .successMain .successContent h2 {
  font-weight: normal;
  color: #494949;
  font-size: 16px;
  margin-bottom: 10px;
}
.changePassword .successMain .successContent p {
  color: #7d7d7d;
  font-size: 16px;
}
.changePassword .successMain span {
  padding-left: 90px;
  font-size: 14px;
}
