.schedule-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.schedule-content .schedule-title {
  display: flex;
  padding: 19px 36px 0;
}
.schedule-content .schedule-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  line-height: 24px;
  height: 26px;
  border: 1px solid #fe5d3f;
  color: #fe5d3f;
}
.schedule-content .schedule-title ul li {
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.schedule-content .schedule-title ul li a {
  display: block;
}
.schedule-content .schedule-title ul li:first-child {
  border-right: 1px solid #fe5d3f;
}
.schedule-content .schedule-title ul li.active {
  background: #fe5d3f;
  color: #fff;
}
.schedule-content .schedule-main {
  position: relative;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  overflow: hidden;
  display: flex;
}
.schedule-content .schedule-date {
  padding: 12px 37px 0;
  position: relative;
}
.schedule-content .schedule-date .schedule-date-main {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #323741;
}
.schedule-content .schedule-date .schedule-date-main span {
  margin: 0 11px;
  width: 130px;
  text-align: center;
  display: block;
}
.schedule-content .schedule-date .schedule-date-main i {
  font-size: 16px;
  cursor: pointer;
}
.schedule-content .schedule-date .schedule-date-main i:hover {
  color: #5b5f67;
}
.schedule-content .schedule-date .schedule-date-main i:active {
  color: #282c34;
}
.schedule-content .schedule-date .schedule-download {
  position: absolute;
  right: 37px;
  top: 12px;
}
.schedule-content .schedule-date .schedule-download .icon {
  color: #73676b;
  cursor: pointer;
}
.schedule-content .schedule-date .schedule-download .icon:hover {
  color: #8f8589;
}
.schedule-content .schedule-date .schedule-download .icon:active {
  color: #5c5256;
}
.schedule-content .schedule-table-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ebf6fb;
}
.schedule-content .schedule-table-header i {
  height: 42px;
  position: absolute;
  right: 0;
  top: 0;
  width: 19px;
  background: rgba(253, 93, 64, 0.15);
}
.schedule-content .schedule-table-detail {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.schedule-content .schedule-week-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.schedule-content .schedule-week-main .schedule-table {
  width: 100%;
  display: flex;
  padding: 12px 37px 25px 37px;
  flex: 5;
  overflow: hidden;
}
.schedule-content .schedule-week-main .schedule-table .card {
  overflow: hidden;
  background: #fff !important;
  border: 1px solid #ecf4f7;
  display: flex;
  width: 100%;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex: 5;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table:before,
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table:after {
  display: none;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table-wrapper {
  border-radius: 4px;
  border: none;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table .ivu-table-body {
  overflow: hidden;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table .ivu-table-row td:last-child {
  border-right: 0;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table .ivu-table-row td:last-child .ivu-table-cell:after {
  content: '';
  background: #fff;
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 1px;
  width: 9px;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table .ivu-table-row td:first-child .ivu-table-cell:after {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 9px;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table .ivu-table-row:last-child td {
  border-bottom: none;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table th,
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td {
  border-color: #f0e8e8;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table th {
  height: 42px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-bottom: none;
  background: rgba(232, 78, 101, 0.05);
  border-right: 0;
  color: #73676b;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table th:nth-of-type(even) {
  background: rgba(253, 93, 64, 0.15);
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td {
  height: 45px;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .ivu-table-cell {
  height: 45px;
  position: relative;
  overflow: visible;
  padding: 0;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .ivu-table-cell h3 {
  line-height: 45px;
  text-align: center;
  font-size: 12px;
  color: #92898c;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 2px;
  z-index: 3;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item > div {
  background: #e892ab;
  border-radius: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.sx > div {
  background: #9fc5f0;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.yw > div {
  background: #e892ab;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.sw > div {
  background: #d75e91;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.dl > div {
  background: #86d2b1;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.zz > div {
  background: #73cad7;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.yy > div {
  background: #c4a5f2;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.wl > div {
  background: #7375d7;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.hx > div {
  background: #5fa8f1;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.ls > div {
  background: #f59d87;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.kx > div {
  background: #7687ef;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.open {
  transition: all .3s;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.open .itemName {
  display: none;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.open:hover {
  height: 80px!important;
  z-index: 4;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.open:hover > div {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item.open:hover .itemName {
  display: block;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item em {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  width: 20px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item em.ce {
  background-color: #fea947;
}
.schedule-content .schedule-week-main .schedule-table .card .schedule-table-main .ivu-table td .item em.tiao {
  background-color: #ff6592;
}
.schedule-content .schedule-month-main {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 0 37px 25px 37px;
}
.schedule-content .schedule-month-main .schedule-date {
  padding: 12px 37px;
}
.schedule-content .schedule-month-main .schedule-date .schedule-date-main span {
  width: 80px;
}
.schedule-content .schedule-month-main .schedule-date .schedule-download {
  right: 0;
}
.schedule-content .schedule-month-main .schedule-table {
  width: 100%;
  display: flex;
  flex: 5;
}
.schedule-content .schedule-month-main .schedule-table .card {
  display: flex;
  overflow: hidden;
  background: #fff !important;
  border: 1px solid #ecf4f7;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main {
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: 5;
  display: flex;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail {
  display: flex;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table {
  min-height: 100%;
  width: 100%;
  table-layout: fixed;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table thead tr {
  vertical-align: middle;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr {
  vertical-align: top;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr th {
  font-weight: normal;
  font-size: 12px;
  height: 43px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0;
  background: rgba(232, 78, 101, 0.05);
  color: #727a89;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr th:nth-of-type(even) {
  background: rgba(253, 93, 64, 0.15);
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td:last-child,
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr th:last-child {
  border-right: 0;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td:last-child .table-cell:after,
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr th:last-child .table-cell:after {
  content: '';
  background: #fff;
  position: absolute;
  right: 0;
  top: -1px;
  height: 1px;
  width: 9px;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td:first-child .table-cell:after {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  top: -1px;
  height: 1px;
  width: 9px;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td {
  border-right: 1px solid #f0e8e8;
  border-top: 1px solid #f0e8e8;
  min-width: 0;
  text-align: left;
  text-overflow: ellipsis;
  position: relative;
  font-size: 12px;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-day {
  text-align: right;
  padding: 2px 2px 0 0;
  line-height: 1;
  min-height: 62px;
  color: #a3acbe;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-day.gray {
  opacity: .3;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell {
  padding: 0 10px 0 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 3px;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-total {
  color: #fe5d3f;
  line-height: 18px;
  margin-bottom: 2px;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list {
  width: 100%;
  flex: 5;
  overflow: hidden;
  transition: all .5s;
  text-align: center;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list.open {
  overflow: visible;
  position: relative;
  z-index: 1;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list.open ul li {
  display: block;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list ul {
  background: #feeeee;
  border-radius: 3px;
  position: relative;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list ul li {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  box-sizing: border-box;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 0 6px;
  width: 100%;
  display: none;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list ul li.show {
  display: block;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list ul li.openBtn,
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td .table-cell .day-class-detail .day-class-list ul li.closeBtn {
  display: block;
  text-align: center;
  cursor: pointer;
}
.schedule-content .schedule-month-main .schedule-table .card .schedule-table-main .schedule-table-detail table tr td:last-child {
  border-right: 0;
}
.schedule-content .schedule-month-main .schedule-table-hidden {
  left: -9999px;
  top: -9999px;
  z-index: -1;
  position: absolute;
}
.schedule-content .schedule-month-main .schedule-table-hidden .schedule-table {
  padding-left: 0;
}
.schedule-content .schedule-month-main .schedule-table-hidden .schedule-table .schedule-table-detail table {
  table-layout: auto !important;
}
.schedule-content .schedule-month-main .schedule-table-hidden .schedule-table .table-cell {
  min-height: 64px;
  min-width: 160px;
  position: static !important;
}
.schedule-content .schedule-month-main .schedule-table-hidden .schedule-table .table-day {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-height: 950px) {
  .schedule-table-detail td,
  .schedule-table-detail .ivu-table-cell {
    height: 53px !important;
  }
}
